.card {
    margin: 5px 10px;
    width: calc(100% - 20px);
    height: 100px;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(234, 234, 234, 0.3);
    background: #ffffff;
}
.card:first-child{
    margin-top: 10px;
}
.block-name {
    /*background: #ffffff;*/
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin-left: 20px;
    display: flex;
}

.card-title {
    font-size: 25px;
    color: #ffffff;
}

.card-des {
    font-size: 18px;
    margin-top: 18px;
    color: #ffffff;
}

.blue {
    background: #337ecc;
}

.green {
    background: #529b2e;
}

.green2 {
    background: #b3e19d;
}

.blue2 {
    background: #a0cfff;
}

.red2 {
    background: #f89898;
}
