
.l-content {
    width: calc(100% - 230px);
    display: flex;
    flex-direction: column;
    height: calc( 100vh - 60px);
    max-height: calc( 100vh - 60px);
    overflow-y: scroll;
}

.l-menu {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: calc( 100vh - 60px);
    max-height: calc( 100vh - 60px);
    background: #ffffff;
    overflow-y: scroll;
}

@media screen and (min-width:600px) and (max-width:1500px){
    .l-menu {
        height: -webkit-fill-available;
        max-height: -webkit-fill-available;
    }
    .l-content{
        height: -webkit-fill-available;
        max-height: -webkit-fill-available;
    }
}
